.slider {
	    width: 500px;
	    height: 400px;
    border: 2px groove black;
    padding: 25px;
    margin: 25px;
}
body{
	background-image: url('images/fondo.jpg');
}
.logo {
	padding-top:100px;
	padding-bottom: 25px;
}
.bigi {
	background-color: black;
}
.bigi a {
	color: white;
}
.t-con {
	margin:25px;
	height: 500px;
}
